.pr-bg {
  background-color: $pr-bg;
}

.sc-bg {
  background-color: $sc-bg;
}


.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-10 {
  margin-bottom: 350px;
}

.pr-font {
  font-family: $pr-font;
}

.sc-font {
  font-family: $sc-font;
  letter-spacing:  1.4px;
}

.min-vh-75 {
  min-height: 75vh;
}


.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  opacity: 0.7;

  &-text {
    width: 100%;
    height: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 0.125rem;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}