#alert-modal {
  animation-name: alert;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

}

@keyframes alert {
  0% {

    transform: translateY(150%) translateX(-50%);
    opacity: 0;
  }

  5% {
    transform: translateY(-50%) translateX(-50%);
  }

  15% {
    opacity: 1;
  }

  80% {
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
  }
  88% {
    transform: translateY(-40%) translateX(-50%);
    opacity: 1;
  }
  97% {
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
  }


  100% {
    transform: translateY(150%) translateX(-50%);
    opacity: 0;
  }
}